.main {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  min-height: calc(100vh - 100px);
}

.main__container {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 2rem 0;
  max-width: 1200px;
  width: 80%;
}
